body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding: 2px;
  background: #f4f4f4;
}

h1 {
  margin: 0;
  font-size: 24px;
}


.chessboard {
  border-collapse: collapse;
  border: 3px solid #222;
}


.chessboard td {
  width: 60px;
  height: 60px;
  padding: 0;
}


.chessboard td {
  background: #f0d9b5;
}


.chessboard tr:nth-child(odd) td:nth-child(even),
.chessboard tr:nth-child(even) td:nth-child(odd) {
  background: #b58863;
}
